@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

body {
  color: #565a5c;
  // background-color: #F8F8F8;
  background-color: white;
  font-family: 'Muli', sans-serif;
}

.searchome {
  padding-top: 1.5em;
  width: 50%;
  margin: 0 auto;
}

.backgroundimage {
  background-size:cover;
  background-position: center;
  height: 750px;
  width: 100%;
}
.container {
	width: 100%;
}

.treehouse {
  text-align: center;
  font-size: 100px;
  color: white;
  padding-top: 1.5em;
}

.thedescription {
  text-align: center;
  font-size: 48px;
  padding: .3em;
  color: white;
}
 .description2 {
   text-align: center;
   font-size: 48px;
   padding: .1em;
   color: white;
 }

 .middleor {
   text-align: center;
   font-size: 48px;
   padding: .2em;
   color: white;
 }
.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: rgba(23, 162, 48, 0.74);
  font-size: 2em;
  font-weight: 400;
}

.btn-primary.btn {
  border: 1px solid rgba(23, 162, 48, 0.74);
  border-radius: 2px;
  font-weight: bold;
  background-color: rgba(23, 162, 48, 0.74);
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: #84daa3;
  border-bottom-color: #6bb385;
  background-color: #84daa3;
  outline:none;
}

.btn-primary.btn:active {
  border-color: #388a55;
  background-color: #388a55;
  outline:none;
}

.btn-default.btn {
  width: 100%;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.avatar-small {
	width: 28px;
}

.avatar-medium {
	width: 48px;
}

.avatar-large {
	width: 68px;
}

.avatar-full {
	width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.form-control1 {
  text-align: center;
  font-size: 15px;
  padding: .1em;
  color: white;
  border-radius: 2px;
  height: 4rem;
}
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}

label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}

select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance:none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #388a55;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42)
}

input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance:none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #388a55;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img{
  width: 100%;
  height: 200px;
}

.amenities li {
  margin-bottom: 10px;
  list-style-type: none;
}

.text-line-through {
  text-decoration: line-through
}

.reservation-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
}

.wide {
  width: 100%;
}

.price_tag {
  background-color: #606567;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.conversation {
  color: #7f7f7f;
  padding: 10px;
}

.conversation:hover, .conversation:focus {
  background-color: #F4F4F5;
}

#wrapper {
  width:960px;
  margin:0 auto;
}

#sidebar {
  float: right;
  width: 340px;
}

#sidebar #widget {
  width: 340px;
  height: 600px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#article {
  width: 560px;
}

.discovery-card {
  background-size:cover;
  background-position: center;
  overflow: hidden;
  height: 350px;
  width: 350px;
}

.va-container {
  display: table;
  width: 100%;
  height: 100%;
}

.va-middle {
  color: #fff;
  vertical-align: middle;
  display: table-cell;
}

body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.css-slideshow{
  position: relative;
  max-width: 100%;
  height: 650px;
  // margin: -3em auto -.5em auto;
  background-size:cover;
  background-position: center;

}
.css-slideshow figure{
  margin: 0;
  background: #000;
  position: absolute;
  background-size:cover;
  background-position: center;
  height: 650px;
  width: 100%;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
  background-size:cover;
  background-position: center;
  height: 650px;
  width: 100%;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 24s 18s infinite;
}
figure:nth-child(2) {
  animation: xfade 24s 12s infinite;
}
figure:nth-child(3) {
  animation: xfade 24s 6s infinite;
}
figure:nth-child(4) {
  animation: xfade 24s 0s infinite;
}
// figure:nth-child(5) {
//   animation: xfade 48s 18s infinite;
// }
// figure:nth-child(6) {
//   animation: xfade 48s 12s infinite;
// }
// figure:nth-child(7) {
//   animation: xfade 48s 6s infinite;
// }
// figure:nth-child(8) {
//   animation: xfade 48s 0s infinite;
// }

@keyframes xfade{
  0%{
    opacity: 1;
  }
  20% {
    opacity: 1;
  }

  25%{
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  95% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.container1{
	position: relative;
	text-align: center;
}
