<%= form_for([@property, @property.reviews.new]) do |f| %>

	<div id="user_stars"></div>
		<%= f.text_area :comment, rows: 3, class: "form-control" %>
	<div class="form-group">

	</div>

	<%= f.hidden_field :property_id, value: @property.id %>

	<div class="actions">
		<%= f.submit "Create", class: "btn btn-primary" %>
	</div>

<% end %>

	<script>
	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
	</script>
